@import "tailwindcss";

/* Force Quicksand font */
body {
  font-family: "Quicksand", sans-serif !important;
}

* {
  font-family: "Quicksand", sans-serif !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

/* Pause on hover */
.animate-marquee:hover {
  animation-play-state: paused;
}